# .env

# General LLM API KEY
GOOGLE_API_KEY=""

# Tool API Keys
# AliYun DashScope API -> Image Generation, Editing, VL, etc.
DASHSCOPE_API_KEY=""

# Serper API Config -> Image Search  https://serper.dev/
SERPER_API_KEY=""

# SEGMIND API, used for GPT-image-1  https://www.segmind.com/
SEGMIND_API_KEY=""

# image host used for upload image to API  https://imgbb.io/
IMGBB_API_KEY=""

# Telegram channel
TELEGRAM_BOT_TOKEN=""
TELEGRAM_ALLOW_FROM=""

# Feishu channel
FEISHU_APP_ID=""
FEISHU_APP_SECRET=""
FEISHU_ENCRYPT_KEY=""
FEISHU_VERIFICATION_TOKEN=""
FEISHU_ALLOW_FROM=""
