google-adk>=1.29.0,<2.0.0
google-genai
google-cloud-aiplatform
pillow
pydantic
requests
loguru
flask
dds-cloudapi-sdk
opencv-python
opencv-contrib-python
litellm
volcengine
volcengine-python-sdk[ark]

# Tools
dashscope
httpx[socks]
requests-toolbelt
openai
asyncddgs==0.1.0a1
lark-oapi
websockets
Deprecated
python-socks

# Dev/Testing
pytest
pytest-mock

# log
loguru
